<template>
    <div id="get-req">
        <h1>All Data</h1>
        <div v-for="todo in todos" class="single-todo">
            <h2>{{ todo.userId }}</h2>
            <p>{{ todo.id }}</p>
            <article>{{ todo.title }}</article>
            <p>{{ todo.completed }}</p>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            todos: []
        }
    },
    methods: {
    },
    created() {

        this.$http.get('https://jsonplaceholder.typicode.com/todos').then(function(data)
        {
            return data.json();
        })
        .then(result=> {
            this.todos=result;
        });
    }
}
</script>

<style>
#show-blogs{
    max-width: 800px;
    margin: 0px auto;
}
.single-blog{
    padding: 20px;
    margin: 20px 0;
    box-sizing: border-box;
    background: #eee;
}
</style>