<template>
    <div id="send-mail">
        <h2>Send a New Email.</h2>
        <form v-if="!submitted">
            <label>Email id:</label>
            <input type="text" v-model.lazy="mail.eml" required />
            <label>Subject:</label>
            <input type="text" v-model.lazy="mail.sub" required />
            <label>Mail body:</label>
            <textarea v-model.lazy.trim="mail.content"></textarea>
            <hr />
            <button v-on:click.prevent="post">Send Mail</button>
        </form>
        <div v-if="submitted">
            <h3>Your mail has send</h3>
        </div>
        <div id="preview">
            <h3>Preview Email</h3>
            <p>Email id: {{ mail.eml }}</p>
            <p>Subject: {{ mail.sub }}</p>
            <p>Mail boby:</p>
            <p style="white-space: pre">{{ mail.content }}</p>
        </div>
    </div>
</template>

<script>
// Imports
export default {
    data () {
        return {
            mail: {
                eml: '',
                sub: '',
                content: ''
            },
            submitted: false
        }
    },
    methods: {
        post: function(){
            this.$http.post('https://hooks.zapier.com/hooks/catch/8712634/oqvknji/', {
                Email_id: this.mail.eml,
                Subject: this.mail.sub,
                body: this.mail.content
            },{
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }
            ).then(function(data){
                console.log(data);
                this.submitted = true;
            });
        }
    }
}
</script>

<style>
#send-mail *{
    box-sizing: border-box;
}
#send-mail{
    margin: 20px auto;
    max-width: 500px;
}
label{
    display: block;
    margin: 20px 0 10px;
}
input[type="text"], textarea{
    display: block;
    width: 100%;
    padding: 8px;
}
#preview{
    padding: 10px 20px;
    border: 1px dotted #ccc;
    margin: 30px 0;
}
h3{
    margin-top: 10px;
}
</style>