<template>
    <div>
        <get-req></get-req>
        <post-req></post-req>
    </div>
</template>

<script>
// Imports
import getReq from '../components/getReq.vue';
import postReq from '../components/postReq.vue';
export default {
    components: {
        'get-req': getReq,
        'post-req' : postReq
    },
    data () {
        return {
        }
    },
    methods: {
    }
}
</script>

<style>
body{
    margin: 0;
    font-family: 'Nunito SemiBold';
}
</style>